name: "Hello World"

on:
  push:
    branches:
      - main
      - kkongusa-hadolint
  pull_request:
    branches:
      - main
      - kkongusa-hadolint


permissions: read-all

jobs:

  lint_dockerfiles:
    timeout-minutes: 100
    runs-on: ubuntu-22.04
    steps:
      - name: 'Checkout Networking Recipe'
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          path: ipdk.recipe

      - name: 'Create test Dockerfile'
        run: |
          echo "FROM ubuntu:22.10" > Dockerfile_test
          echo "USER root" >> Dockerfile_test
          echo "RUN apt update && apt upgrade -y" >> Dockerfile_test

      - name: 'Run hadolint'
        uses: hadolint/hadolint-action@v2.1.0
        with:
          dockerfile: *ockerfile*
          recursive: True
